/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {box-sizing: border-box;}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.admin-banner {
    display: none;
	background-color: black;
    color: white;
	font-size: 12px;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0; /* Ajouté pour prendre toute la largeur */
    right: 0; /* Ajouté pour prendre toute la largeur */
    width: 100%;
    z-index: 1000;
}

/* Ajout d'un espace en haut pour ne pas cacher le contenu sous le bandeau */
body.admin-mode {
    padding-top: 40px; /* Ajuster selon la hauteur du bandeau */
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 30px;
	font-size: 1.2em;
}

#btn-login {
	display: none;
}

#btn-logout {
	display: none;
}

/* Changement de la nav au passage de la souris */
nav li a {
	text-decoration: none;
}

nav li a:hover {
	font-weight: bold;
}

/* Redimentionner nav image instagram */
nav img {
	max-width: 50%;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-top: 8em;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 8em;
}


#portfolio h2 {
	text-align: center;
}

.projets {
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
	margin-top: 3em;
	margin-bottom: 4em;
}

.admin-controls {
	display: none;
    flex-direction: row;
    align-items: center;
	margin-left: 30px;
}

.admin-controls button {
	background: none;
	border: none;
}

.admin-controls button:hover {
	text-decoration: underline; 
}

i {
    margin-right: 15px;
}

/* Modale */

.modale {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.contenu-modale {
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 630px;
	height: 690px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #fff;
	border-radius: 1%;
	position: relative;
}

.titre-modale {
	font-family: 'Work Sans';
	font-size: 26px;
	margin-top: 50px;
}

.gallery-modale {
	display : flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 450px;
	position: relative;
}

.close {
	color: #aaa;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.separation {
	border-top: 2px solid #ccc;
    width: 75%;
    margin: 20px 0;
}

#ajouter-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	height: 36px;
	width: 230px;
	text-align: center;
	border-radius: 60px ;
}

/* Filtres */
.filtres {
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 20px;
}

.gallery {
	margin-top: 3em;
}

.filtres p {
	font-family: 'Syne';
	padding: 25px;
	color: #1D6154;
    font-size: 18px;
    font-weight: bold;
}

#cache-filtre {
	display: none;
}

.btn-filtres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #1D6154;
    border-radius: 30px;
    height: 35px;
}


/***** Changement de couleur au survol *****/
.btn-filtres:hover {
    background-color: #1D6154;
	p {
		color: #ffffff;
	}
}



.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact{
	display: none;
	width: 50%;
	margin: auto;
}

/* Ajout des proprietes CSS pour la page login */
#login {
	width: 40%;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#login label {
 	text-align: left;
}

#login h2 {
	margin-top:5em;
}

#login p {
	text-decoration: underline;
	margin-bottom:20em;
}

#contact h2{
	margin-bottom: 20px;
}

form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

